<?xml version="1.0"?>
<launch>

  <include file="$(find racecar)/launch/teleop.launch"/>

  <rosparam command="load" file="$(find resistors_wall_following)/wall_config.yaml" />

  <node pkg="resistors_wall_following" name="pid_error2_node" type="pid_error2.py" output="screen" /> 
  <node pkg="resistors_wall_following" name="control_node" type="control.py"   />
  <node pkg="resistors_wall_following" name="dead_mans_switch" type="dead_mans_switch.py"/>

  <node pkg="resistors_wall_following" name="edgeDet" type="edgeDet.py"/>
  <node pkg="resistors_wall_following" name="resistors_analysis" type="resistors_analysis.py"/>
  <node pkg="resistsors_wall_following" name="edgeDetViz" type="edgeVisualizer.py" output="screen"/>
 <!-- <node pkg="rviz" name="rviz" type="rviz" output="screen"/> -->

</launch>
